<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Receipts</title>
</head>

<body>
    {% if user.is_authenticated %}
    <h1>Hello, {{ user.username }}</h1>
    <nav>
        <li>
            <a href={% url "create_receipt" %}> Create Receipt</a>
        </li>
        <li>
            <a href={% url "create_account" %}>Create Account</a>
        </li>
        <li>
            <a href={% url "logout" %}> Logout</a>
        </li>
        <li>
            <a href={% url "signup" %}>Signup</a>
        </li>
    </nav>
    {% endif %}
    <main>
        <h1>My Receipts</h1>
        <table>
            <thead>
                <tr>
                    <th>Vendor</th>
                    <th>Total</th>
                    <th>Tax</th>
                    <th>Date</th>
                    <th>Category</th>
                    <th>Account</th>
                </tr>
            </thead>
            <tbody>
                {% for receipt in receipts %}
                <tr>
                    <td>{{ receipt.vendor }}</td>
                    <td>{{ receipt.total }}</td>
                    <td>{{ receipt.tax }}</td>
                    <td>{{ receipt.date|date:"n/j/y" }}</td>
                    <td>{{ receipt.category.name }}</td>
                    <td>{{ receipt.account.name }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>

</body>

</html>
